<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mil.nga.geopackage">
    
    <application
        android:allowBackup="false" tools:replace="android:allowBackup"
        android:fullBackupOnly="false"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name" >
    </application>

</manifest>
