<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mil.nga.geopackage" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name" >
        <activity
            android:name="mil.nga.geopackage.GeoPackageActivity">
        </activity>
    </application>

</manifest>
