name: Test

on:
  push:
    branches:
      - master
  pull_request:

jobs:

  test:
    runs-on: macOS-latest
    timeout-minutes: 720
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: set up JDK 11
      uses: actions/setup-java@v2
      with:
        distribution: 'temurin'
        java-version: 11
    - name: Run Tests
      uses: reactivecircus/android-emulator-runner@v2
      with:
        api-level: 31
        script: ./gradlew connectedAndroidTest
